@{
    ViewData["Title"] = "Hakkında";
}

<h1 class="mb-4">DeliverMate Lojistik</h1>

<h2 class="d-flex align-items-center">
    <i class="bi bi-info-circle me-2"></i> Proje Hakkında
</h2>
<hr />
<p>Bu uygulama, ASP.NET MVC 8.0 ve Entity Framework kullanılarak teslimatları yönetmek amacıyla geliştirilmiş bir web uygulamasıdır.</p>

<h2 class="d-flex align-items-center">
    <i class="bi bi-stars me-2"></i> Özellikler
</h2>
<hr />
<ul>
    <li><i class="bi bi-shield-check me-2"></i> Identity Framework ile kimlik doğrulama ve yetkilendirme</li>
    <li><i class="bi bi-arrow-repeat me-2"></i> Teslimatlar, Müşteriler, Kargo Kalemleri ve Birimler üzerinde CRUD işlemleri</li>
    <li><i class="bi bi-search me-2"></i> Kargo kaleminin adına veya açıklamasına göre teslimat arama</li>
</ul>

<h2 class="d-flex align-items-center">
    <i class="bi bi-person-workspace me-2"></i> Kullanım
</h2>
<hr />
<h3>Demo Kullanıcısı</h3>
<p>Uygulamayı test etmek için aşağıdaki demo kullanıcısını kullanabilirsiniz:</p>
<ul>
    <li><i class="bi bi-envelope me-2"></i> Kullanıcı Adı: <code>admin@gmail.com</code></li>
    <li><i class="bi bi-key me-2"></i> Şifre: <code>Admin123#</code></li>
</ul>

<h2 class="d-flex align-items-center">
    <i class="bi bi-file-earmark-text me-2"></i> Lisans
</h2>
<hr />
<p>
    Bu proje MIT Lisansı ile lisanslanmıştır. Daha fazla bilgi için
    <a href="https://github.com/stekatag/CourierWebApp/blob/master/LICENSE.txt" class="text-decoration-underline">
        lisans
    </a> sayfasına bakınız.
</p>