@model CourierWebApp.Models.Item

@{
    ViewData["Title"] = "Düzenle";
}

<h1>Düzenle</h1>

<h4>Kargo Kalemi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label">Ad</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class "form-group mb-3">
                <label asp-for="Description" class="control-label">Açıklama</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit"
                        class="btn text-white d-flex align-items-center"
                        style="background-color: #e68bbe; padding: 0.5rem 1rem;">
                    <i class="bi bi-save me-2"></i> Kaydet
                </button>
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index"
       class="btn text-white d-flex align-items-center"
       style="background-color: #f4b8da; padding: 0.5rem 1rem; width: fit-content;">
        <i class="bi bi-arrow-left me-2"></i> Listeye Dön
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}